@font-face {
    font-family: english-font;
    src: url(../fonts/BigSpace-rPKx.ttf); 
}
body {
    direction: ltr;
    font-family: english-font; 
}
header {
    background-image: url(../imgs/header.png);
    background-size: cover;
    background-position: center center; 
}
  
header .brand {
    padding: 20px 10px;
    margin: 67px auto 50px ;
    border-bottom: 5px solid #454545;
    display: inline-block;
}
header .page-heading h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 75px;
    color: #fff; 
    margin: 0 auto;
}
header .page-heading p {
    width: 40%;
    font-size: 18px;
    line-height: 25px;
    color: #acacac; 
    margin: 0 auto;
    
}
header .counter .countdown-amount {
    font-size: 60px;
    font-weight: bold;
    color: #ffce00;
    display: block;
}

header .counter .countdown-period {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    display: block;
}

header .counter .countdown-section {
    display: inline-block;
    margin: 0 1.2px;
}

header .counter {
    width: 90%;
    margin: 60px auto;
    padding: 30px;
}
header .send-notification{
    font-size: 18px;
    color: #fff; 
}
header .send-notification .input-group input {
    border-radius: 0;
    font-size: 18px;
    font-family: english-font;
    color: black;
    border-width: 2px;
    border-color: #e6e6e6; 

}
header .send-notification .input-group button {
    border-radius: 0;
    background-color: #ffce00;
    padding: .5rem 1.5rem; 
}

header .send-notification .input-group {
    width: 30%;
    margin: 0 auto;
    text-decoration: black solid 5px;

}

header .send-notification .input-group .alert {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    left: 0; 
}

header .send-notification .input-group input {
    height: auto;
}
section.features h2 {
    margin-bottom: 50px;
    font-size: 45px;
    color: #555; 
}

section.features {
  padding: 100px 0;
}
section.features .media {
    border: 4px solid #fafafa;
    padding: 40px 10px;
    margin-bottom: 20px; 
}
section.features .media .media-body h5 {
    font-size: 24px;
    color: #555; 
}
section.features .media .media-body p {
    font-size: 15px;
    line-height: 25px;
    color: #9c9c9c; 
}
section.features {
  text-align: left;
}
footer {
    background-image: url(../imgs/footer.jpg);
    background-size: cover;
    background-position: center center; 
}
footer .top-footer .overlay {
    background-color: rgba(255, 204, 0, 0.7);
    padding: 60px 0; 
}
footer .top-footer .overlay h3 {
    font-size: 30px;
    width: 80%;
    margin: 0 auto 30px; 
}
footer .top-footer .overlay .input-group {
    width: 30%;
    margin: 0 auto;
    position: relative;
    text-decoration: black solid 5px;
}

/* تنسيق الخط داخل النموذج */
footer .top-footer .overlay .input-group input {
    border-radius: 0;
    font-size: 18px;
    font-family: english-font;
    color: black;
    border-color: #fff;
}

/* تنسيق صندوق الإدخال */
footer .top-footer .overlay .input-group input:hover, footer .top-footer .overlay .input-group input:focus {
    box-shadow: 0 0 0;
    border-color: #fff;
}

/* تنسيق زر نموذج الإرسال */
footer .top-footer .overlay .input-group button {
    border-radius: 0;
    background-color: #393939;
    padding: .5rem 1.5rem;
}

/* تغير لون الزر عند مرور مؤشر الفأرة فوقه */
footer .top-footer .overlay .input-group button:hover, footer .top-footer .overlay .input-group button:focus {
    box-shadow: 0 0 0;
    border-color: transparent;
}

/* تنسيق رسالة الخطأ التي تظهر عند إدخال معلومات خاطئة في النموذج */
footer .top-footer .overlay .alert {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
}
footer .top-footer .overlay .input-group input {
  height: auto;
}
footer .contact .overlay {
    background-color: rgba(28, 28, 28, 0.7);
    padding: 60px 0 10px;
    color: #fff; 
}

footer .contact .overlay h3 {
    font-size: 30px;
    margin: 0 auto 30px; 
}

footer .contact .overlay ul li a {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: block;
    background-color: rgba(255, 255, 255, 0.14);
	color: #fff;
}

footer .contact .overlay ul li {
    margin: 0 5px 10px; 
}

footer .contact .overlay ul li a.facebook:hover {
    background-color: #3b5999; 
}
footer .contact .overlay ul li a.twitter:hover {
    background-color: #55acee; 
}
footer .contact .overlay ul li a.linkedin:hover {
    background-color: #0077B5; 
}
footer .contact .overlay ul li a.instagram:hover {
    background-color: #e4405f; 
} 

footer .contact .overlay hr {
    width: 25%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 50px; 
}

footer .contact .overlay p a {
     color: #b4b4b4; 
}
footer .contact .overlay p a i {
     color: #ffce00;
     margin-left: 5px; 
}

footer .contact .overlay ul li a {
     -webkit-transition: all 0.3s ease;
     Transition: all 0.3s ease;
}
section.features .media {
    border: 4px solid #fafafa;
    padding: 40px 10px;
    margin-bottom: 20px;
    position: relative;
    max-height: 190px;
  }